/* #EF8354, #FFFFFF, #BFC0C0, #4F5D75, #2D3142 */

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid #EF8354;
    padding: 15px;
    color: #4F5D75;
    background-color: #BFC0C0;
    font-weight: bold;
    border-radius: 10px;
}

.card img {
    border: 5px solid #ffffff;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-info {
    color: #EF8354;
    margin-top: 10px;
}

.card-info button{
    margin: 0px 5px;
    height: 7vh;
    width: 7vh;
    padding: 3px 3px;
    background-color: #2D3142;
    color: #ffffff;
    border-radius: 3px;
}

.card-info button:hover{
    background-color: #4F5D75;
    color: #ffffff;
}

.no-underline-links {
    text-decoration: none;
}

#Buy-now {
    width: 15vh;
    height: 7vh;
}

@media screen and (max-height: 550px) {
    .card-info button {
        width: 7vw;
        height: 7vw;
    }
}

@media (max-width: 400px) {
    .card-info button {
        width: 7vh;
        height: 7vh;
    }
    .card img {
        border: 5px solid #ffffff;
        max-width: 50%;
        height: 50%;
        border-radius: 5px;
    }
    
}